<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><!-- title --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Built With Aurelia is a showcase of applications, plugins and resources developed for or using Aurelia.">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body>
    <script type="text/javascript">// [prerendered model]</script>
    <!-- app -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9345213-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-9345213-11');
    </script>
  </body>
</html>
