.blocks {
    align-items: flex-start;
}

.blocks__block {

    @media all and (min-width: 768px) {
        margin-bottom: 15px;
    }
}

.thumbnail {
    height: 320px;
    
    @media all and (min-width: 768px) {
        border-left: 12px solid #FFF;
    }

    &:hover > .thumbnail__pullover {
        height: 100%;
    }

    & > a {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.thumbnail__pullover {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFF;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 1000;

    .thumbnail__inner {
        max-width: 80%;
        text-align: left;
    }
}

.blocks__block--large .thumbnail__pullover p {
    font-size: 20px;
    line-height: 26px;
}

.thumbnail--large {
    height: 320px;

    @media all and (min-width: 768px) {
        height: 460px;

        .thumbnail__heading {
            font-size: 46px;
        }
    }
}

.thumbnail__inner {
    color: #FFF;
    left: 50%;
    max-width: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    p {
        font-size: 14px;
        line-height: 20px;
    }

    a {
        color: #FFF;
    }
}

.thumbnail__heading {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 12px 0;
    padding-bottom: 8px;
}

.thumbnail__subheading {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
