.blocks {
    align-items: flex-start;
}

.blocks__block {
    margin-bottom: 15px;
    padding: 0 1.5rem;

    @media all and (min-width: 768px) {
        padding: 0 0.5rem;
    }
}

.project {

}

.project--single {
    box-shadow: none;
}

.project__name {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

.project__name--large {
    font-size: 32px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.project__image {
    background-position: center center;
    background-size: cover;
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 75%;

    a {
        display: block;
        height: 100%;
        position: absolute;
        text-decoration: none;
        width: 100%;
    }
}

.project__content {
    color: #626b6b;
    display: block;
    font-size: 16px;
    text-align: left;
}

.project__content--black {
    color: #000;
}
