:root {
    --bs-primary: #3813C2;
    --bs-pink: #F20487;
    --purple: #646FC7;
    --grapefruit: #E14840;
    --medium-blue: #4E73AA;
    --aurelia-pink: #BC157A;
    --brave-orange: #FF794E;
    --green: #6F9661;
    --pie: #FDBE79;
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

body {
    padding-top: 56px;
}

a:hover {
    background: none;
}

:global(.nav-item) :global(.goto-active) {
    color: #FFF !important;
}

:global(.mt-8),
:global(.my-8) {
    margin-top: 5rem !important;
}

:global(.fw-700) {
    font-weight: 700;
}

:global(.btn-social):global(.btn-lg) {
    padding-left: 61px;
}