.loader {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    left: 0;
    top: 0;
    width : 100%;
    position: fixed;
    z-index: 999;
}

.loader__inner {
    height: 250px;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 1000;

    h2 {
        color: #000;
        font-size: 16px;
        margin: 15px 0 0 0;
        padding: 0;
        width: 100%;
    }
}

.loader__indicator {
    animation: animate 1.5s linear infinite;
    background: transparent url(/images/aurelia-logo-mark.svg) no-repeat left top;
    display: block;
    height: 80px;
    margin: 0 auto;
    width: 80px;
}

.ellipsis {
    font-size: 16px;

    &:after {
        animation: ellipsis steps(4, end) 900ms infinite;
        content: "\2026";
        display: inline-block;
        overflow: hidden;
        vertical-align: bottom;
        width: 0;
    }
}

@keyframes animate {
    0% { 
        transform: rotate(0deg)
    }

    100% { 
        transform: rotate(220deg)
    }
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}
