.login {
    background: #FFF;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.btn-github {
    background: #333;
    color: #FFF;
}

.btn-google {
    background: #C23322;
    color: #FFF;
}