<template containerless>

    <header id="main-header">
        <div class="container">
            <div class="row">
                <h1 id="logo" class="col-xs-12 col-sm-6"><a route-href="route:home_nopagination">Built With Aurelia</a></h1>
                <div class="col-sm-6 text--right">
                    <a route-href="route: submission" class="text--bold">Make a Submission</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a route-href="route: about">About</a>
                    <span>&nbsp;|&nbsp;</span>
                    <a href="mailto:dwaynecharrington@gmail.com">Contact</a>
                </div>
            </div>
        </div>
    </header>

</template>
