<template class="modal" bindable="type, title, yesCallback, cancelCallback">
    <div class="modal__inner">
        <header class="modal__header"><h1>${title}</h1></header>

        <slot></slot>

        <div class="modal__footer">
            <a href="javascript:void(0);" click.delegate="yesCallback()" class="button button--dark">Okay</a>
        </div>

        <template if.bind="type === 'confirm'">
            <div class="modal__footer">
                <a href="javascript:void(0);" click.delegate="yesCallback()" class="button">Okay</a>
                <a href="javascript:void(0);" click.delegate="cancelCallback()" class="button">Cancel</a>
            </div>
        </template>
    </div>
</template>
