<template bindable="project, fullView">
    <div class="project ${fullView ? 'project--single': ''}" with.bind="project">
        <header>
            <h1 class="project__name ${fullView ? 'project__name--large': ''}">${name}</h1>
        </header>
        
        <div class="project__image" if.bind="image" style="background-image: url(https://raw.githubusercontent.com/Vheissu/builtwithaurelia-projects/master/images/${image})"></div>

        <div class="project__image" if.bind="!image" style="background-image: url(/images/curlies.svg); background-size: 50%;"></div>

        <div class="project__content ${fullView ? 'project__content--black': ''}" if.bind="fullView">
            <p innerhtml.bind="description"></p>
            <p><a href="${url}">View</a> <template if.bind="repoUrl">| <a href="${repoUrl}">Source Code</a></template></p>
        </div>
    </div>
</template>

