<template class="thumbnail">
    <template with.bind="project">
        <div class="thumbnail__inner">
            <h1 class="thumbnail__heading">${name}</h1>
            <h2 class="thumbnail__subheading">${category}</h2>
        </div>
        <div class="thumbnail__pullover">
            <div class="thumbnail__inner">
                <p innerhtml.bind="description"></p>
                <a href="${url}" class="button" target="_blank" click.delegate="handleClick(url, name)">View</a>
                <a if.bind="repoUrl" href="${repoUrl}" class="button" target="_blank" click.delegate="handleClick(repoUrl, name)">Source Code</a>
            </div>

            <div class="vote-buttons">
                <a href="javascript:void(0);" class="vote" click.delegate="callVoteCallback($event, slug)"></a>
                <span>${getVoteCount(slug) & async:'0'}</span>
            </div>
        </div>
    </template>
</template>

