@import "styles/grid";
@import "styles/blocks";
@import "styles/sidebars";
@import "styles/forms";

* {
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    color: #00CCD2;
    text-decoration: none;
}

.link--underlined {
    text-decoration: underline;
}

nav {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: center;

    @media all and (min-width: 768px) {
        text-align: left;
    }
}

nav ul,
nav li {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 18px;
    margin-right: 12px;

    &:last-child {
        margin-right: 0;
    }

    a {
        color: #AAA;
        display: block;
        text-decoration: none;

        &:hover,
        &.active {
            color: #000;
        }
    }
}

.text--right {
    text-align: right;
}

body {
    background-color: #FFF;
    color: #000;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    line-height: 28px;
}

.list {
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}
    .list__item {
        margin: 0 0 8px 0;
    }

    .list__item--no-style {
        list-style: none;
    }

#main-header {
    background: #333;
    color: #FFF;
    height: 65px;
    line-height: 65px;
    margin-bottom: 50px;
    text-align: center;

    @media all and (min-width: 768px) {
        text-align: left;
    }

    .col-sm-6:last-child {
        display: none;

        @media all and (min-width: 768px) {
            display: initial;
        }
    }

    a {
        color: inherit;
    }
}

#logo {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}

#main-content {

    @media all and (min-width: 768px) {
        padding-right: 30px;
    }
}

pagination {
    border-top: 1px solid #EAEAEA;
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
}

.pagination__link {
    margin-right: 10px;   
}

#submission-iframe {
    height: calc(100vh + 50vh);
    width: 100%;
}

#main-footer {
    border-top: 1px solid #EAEAEA;
    color: #333;
    font-size: 12px;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bg--purple {
    background-color: #646FC7;
}

.bg--grapefruit {
    background-color: #E14840;
}

.bg--medium-blue {
    background-color: #4E73AA;
}

.bg--bright-blue {
    background-color: #00C3FF;
}
.bg--gentle-pink {
    background-color: #FFC3CD;
}

.bg--teal {
    background-color: #21ADA4;
}

.bg--middle-blue {
    background-color: #00A5C6;
}

.bg--light-cyan {
    background-color: #1CD8E7;
}

.bg--brave-orange {
    background-color: #FF794E;
}

.bg--yellow-its-me {
    background-color: #FDDC57;
}

.bg--green {
    background-color: #6F9661;
}

.bg--pie {
    background-color: #FDBE79;
}

.bg--dark {
    background-color: #424242;
}

.bg--aurelia-pink {
    background-color: #BC157A;
    color: #FFF;
}
